{% extends "main.html"%}

{%block content%}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>
<h1><a href="/">Home</a></h1>

<div class="home-container">
    <div>
        {% include 'topic_component.html'%}
    </div>
    
    <div>
        <a href="{%url 'create-room'%}"}>Create-Room</a>
        <h2>{{room_count}} rooms found</h2>
        {%include 'room_component.html'%}
    </div>

    <div>
        {% include 'activity_component.html'%}
    </div>
    
    
</div>

{%endblock content%}